@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
}

.font-plex {
    font-family: "IBM Plex Mono", monospace;
}

.green-light {
    color: rgb(57, 255, 136);
}
